.note{
    position: absolute;
    box-shadow:2px 2px 5px rgba(0,0,0,0.5);
    outline: 4px solid transparent;
	padding: 0rem 0rem 0rem 0rem;
	cursor: move;
    font-size:9px;
    white-space:nowrap;
	width: 7rem;
    height: 5rem;
    font-weight: 700;
    transition: outline 1s;
    text-align:center;
    will-change: transform, opacity;
}

.note:hover {
    outline-color: #ffbb00;
}

.txt-place {
    text-align: center;
    border: 0px solid transparent;
    padding-left: 0.2em;
    font-size: 1.2em;
    line-height: 1.1rem;
    width: 100%; 
    height: 70%; 
}
