.transitio-enter {
    opacity: 0;
  }
.transitio-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
.transitio-exit {
    opacity: 1;
  }
.transitio-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-out;
  }